body{
margin:0;
font-family:Arial;
background:#0b1220;
color:white;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
background:#0f172a;
}

.hamburger{
font-size:28px;
cursor:pointer;
}

.menu{
position:fixed;
top:0;
right:-260px;
width:250px;
height:100vh;
background:#0f172a;
padding:15px;
transition:0.3s;
}

.menu a{
display:block;
padding:12px;
margin:5px 0;
background:#1e293b;
color:white;
text-decoration:none;
border-radius:8px;
}

.card{
background:#111827;
padding:15px;
margin:10px;
border-radius:12px;
}

input,textarea{
width:100%;
padding:10px;
margin:5px 0;
border:none;
border-radius:8px;
background:#0f172a;
color:white;
}

button{
width:100%;
padding:10px;
border:none;
border-radius:8px;
background:#2563eb;
color:white;
cursor:pointer;
}